{% extends 'front_base.html' %}

{% block title %}
    首页
{% endblock %}


{% block header %}
    <link rel="stylesheet" href="{% static 'css/index.min.css' %}">
{% endblock %}

{% block main-container %}
    <div class="box">
        <div class="box-header page-header">
            <h1>天气图像识别系统
                <small>人工智能项目</small>
            </h1>
        </div>
        <div class="box-body">
            <div class="box-info">
                <div class="info-image">
                    <div class="box-image">
                        <img src="{% static 'image/rain1.jpg' %}" alt="">
                    </div>
                    <div class="box-image">
                        <img src="{% static 'image/sunrise1.jpg' %}" alt="">
                    </div>
                    <div class="box-image">
                        <img src="{% static 'image/index3.jpg' %}" alt="">
                    </div>
                </div>
                <div class="box-content">
                    <p>1. 这是一个天气图像识别项目，基于tensorflow，使用卷积神经网络实现对多云，雨天，晴天，日出等天气场景进行识别
                        </p>
                    <p>2. 通过对1070张数据集图片进行训练生成训练模型，模型预测精度90%，使用django框架将数据结果进行显示，并增加后台管理系统方便使用信息的查看</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}